<h2><%= @restaurant.name %></h2>
<p><%= @restaurant.address %></p>
<p><%= @restaurant.phone_number %></p>
<p><%= @restaurant.category %></p>
<ul class="list-group">
  <% @restaurant.reviews.each do |review| %>
    <li class="list-group-item"><%= review.content %></li>
    <li class="list-group-item"> Rating: <%= "🌟" * review.rating %></li>
  <% end %>
</ul>
<h6><%= link_to "Edit restaurant", edit_restaurant_path, class: "btn btn-secondary" %></h6>
<h6><%= link_to 'Leave a review', new_restaurant_review_path(@restaurant), class: "btn btn-secondary" %></h6>
<h5><%= link_to "Back to restaurants", restaurants_path, class: "btn btn-primary" %></h5>
